* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: #f9faf8;
  /* height: 500px; */
  gap: 5rem;
  align-items: center;
  padding-bottom: 5rem;
}

header > * {
  width: 80%;
}

.header-logo {
  font-size: 24px;
  font-weight: 500;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

.section1 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.section11 {
  color: lightgray;
  display: flex;
  gap: 1rem;
}

.section2 {
  display: flex;
  gap: 3rem;
}

.section2 > * {
  flex: 1;
}

.section21 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section21 > p {
  color: #e5e7eb;
}

.section21 > button {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  background-color: #3882f6;
  color: white;
  border-radius: 7px;
  border-style: none;
}

.section22 {
  width: 300px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.title2 {
  padding-bottom: 3rem;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img2 {
  height: 200px;
  width: 200px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.card p {
  width: 200px;
  color: gray;
  text-align: center;
}

.section4 {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 5em 12em;
}

.section4 > p {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.section41 {
  text-align: right;
}

.section5 {
  background-color: #3882f6;
  color: white;
  display: flex;
  width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  justify-content: space-between;
  border-radius: 7px;
}

.section5 > button {
  background-color: #3882f6;
  border: 3px solid white;
  border-radius: 6px;
  color: white;
  padding: 0 1.5rem;
}

.section512 {
  font-size: 16px;
  font-weight: 100;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  margin-top: auto;
  text-align: center;
  padding: 3rem;
}
